.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 90vh;
    margin: 0 auto;
}

.hero_title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    margin-right: -300px;
    z-index: 5;
}

.hero_title h1 {
    font-size: 54px;
    font-weight: 700;
    color: #333;
}

.hero_title p {
    font-size: 20px;
    font-weight: 400;
    color: #333;

}

.hero_image {
    width: 50%;

}

.hero_image img {
    width: 600px;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    .hero_title h1 {
        font-size: 32px;
        font-weight: 700;
        color: #333;
    }

    .hero_title p {
        font-size: 16px;
        font-weight: 400;
        color: #333;
    }

    .hero_title {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 80%;
        margin: 0 auto;


    }

    .hero_image {
        display: none;

    }

    .hero {
        width: 100%;
        margin: 0 auto;
        background-image: url('/src/img/cube.png');
        background-position: center;
        background-repeat: no-repeat;
    }
}