.button {
    width: 120px;
    height: 40px;
    background: #4b33c5;
    font-size: 16px;
    color: white;
    font-weight: 600;
    border-radius: 12px;
    border: #4b33c5 1px solid;
    cursor: pointer;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}

.button:hover {
    background: #816aeb;
}