.header {
    width: 100vw;
    height: 10vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo span {
    font-size: 22px;
    font-weight: 700;
    color: #333;
    margin-left: 10px;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 60px;
}

.navigation a {
    font-size: 20px;
    font-weight: 500;
    color: #333;
    text-decoration: none;
}

.navigation a:hover {
    color: #6d4fe7;
}

.navigation li {
    list-style: none;
}

.button {
    background-color: #6d4fe7;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.button:hover {
    background: #9e92d5;
}