.header {
    width: 100%;
    height: 10vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10%;
    background-color: #fff;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
}

.logo span {
    font-size: 22px;
    font-weight: 700;
    color: #333;
    margin-left: 10px;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 60px;
}

.navigation a {
    font-size: 20px;
    font-weight: 500;
    color: #333;
    text-decoration: none;
}

.navigation a:hover {
    color: #6d4fe7;
}

.navigation li {
    list-style: none;
}

.button {
    background-color: #6d4fe7;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.button:hover {
    background: #9e92d5;
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}


.burger {
    display: none;
}

@media screen and (max-width: 768px) {
    .burger {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .social {
        display: none;
    }

    .navigation {
        display: none;
    }

    .socialMob {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        margin-top: 50px;
    }

    .navigationMob {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0;
        gap: 30px;
        margin-top: 50px;
    }

    .navigationMob a {
        font-size: 20px;
        font-weight: 500;
        color: #333;
        text-decoration: none;
    }

    .navigationMob a:hover {
        color: #6d4fe7;
    }

    .navigationMob li {
        list-style: none;
    }
}

.mobile {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 800vh;
    background-color: rgb(236, 236, 219);
}

a{
    
}




.active {
    position: relative;
}

.active:after {
    content: '';
    position: absolute;
    height: 1px;
    border-bottom: 3px solid #6d4fe7;
    width: 100%;
    top: 30px;
    left: 0;
    white-space: nowrap;
}